form {
  width: 50%;
  margin: auto;
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form select,
form label {
  width: 100%;
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form select {
  border: none;
  outline: none;
  background-color: rgba(206, 188, 185, 0);
  border-bottom: 1px solid black;
  font-size: 20px;
  color: grey;
  padding: 8px 5px;
}

form label,
form span {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.703);
}

form .btn input[type="reset"]:hover,
form input[type="submit"]:hover {
  background-color: rgba(249, 0, 0, 0.645);
  border: 1px solid rgba(249, 0, 0, 0.645);
  border-radius: 4px;
}

form .gender {
  display: flex;
  justify-content: space-between;
}

form .btn {
  display: flex;
  justify-content: space-between;
}

form .btn input {
  padding: 5px 10px;
}