h4 {
 text-align: center;
 font-size: 24px;
 padding-bottom: 4vh;
 color: black;
}

.section {
 padding: 5vh 0;
}

.section .flex .laptop-hideBr{
 display: none;
}

#features,
#contact,
#about {
 margin-top: 20vh;
}

#features,
#contact {
 background-color: rgba(206, 188, 185, 0.645);
}

#gallery,
#about {
 background-color: rgba(249, 0, 0, 0.461);
}

#about .img {
 width: 18%;
}

#about .img img {
 border: 2px solid rgba(249, 0, 0, 0.461);
 border-radius: 50%;
}

.section .flex {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}

.section .flex .para {
 width: 55%;
}

.section .flex .img {
 width: 18%;
}

.section .img img {
 width: 100%;
 border: 2px solid rgba(128, 128, 128, 0.689);
 border-radius: 5px;
}

.section .flex .para p {
 text-align: justify;
 color: black;
}

.section .flex .para p::first-letter {
 font-size: 35px;
 font-weight: bolder;
}